<app-title [context]="'Definition'" [title]="definition?.name"></app-title>

<div class="content-body">
    <div class="container-fluid">

        <app-definition-tabs [definitionId]="definition?.id" [activeTab]="definitionTabs.configuration"></app-definition-tabs>

        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label for="inputDefinition_configAsYaml" class="control-label">Configuration in Yaml</label>
                    <pre class="form-control-static" id="inputDefinition_configAsYaml">{{ definition?.configAsYaml }}</pre>
                </div>
            </div>
        </div>

    </div>
</div>
