<div class="row">
    <div class="col-md-12">
        <div class="page-header">
            <h2 class="single-line">Add project</h2>
        </div>
    </div>
</div>

<form>

    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <label for="inputProject_name" class="control-label">Name</label>
                <input type="text" class="form-control" id="inputProject_name" name="name" [(ngModel)]="item.name">
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <button type="submit" class="btn btn-success" (click)="addItem()">Submit</button>
        </div>
    </div>

</form>
