<div>
    <div *ngIf="!definitions.length">
        <p>No definitions to list.</p>
    </div>
    <div *ngIf="definitions.length">
        <div class="table-wrapper">
            <table class="table table-striped table-hover ">
                <thead>
                    <tr>
                        <th class="fit-column">Name</th>
                        <th class="fit-column" *ngIf="withProjects">Project</th>
                        <th>Number of instances</th>
                        <th class="fit-column">Created</th>
                        <th class="fit-column">Updated</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let definition of definitions">
                        <td>
                            <a routerLink="/definition/{{ definition.id }}">
                                {{ definition.name }}
                            </a>
                        </td>
                        <td *ngIf="withProjects">
                            <a routerLink="/project/{{ definition.project.id }}">
                                {{ definition.project.name }}
                            </a>
                        </td>
                        <td>{{ definition.instances.length || '&mdash;' }}</td>
                        <td>
                            <small>{{ definition.createdAt | relativeDate }}</small>
                        </td>
                        <td>
                            <small>{{ definition.updatedAt | relativeDate }}</small>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
