<div class="row">
    <div class="col-md-12">
        <div class="page-header">
            <h2>Instance <em>{{ instance?.name }}</em></h2>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <ul class="nav nav-tabs">
            <li class="active"><a routerLink="/instance/{{ instance?.id }}">Summary</a></li>
            <li><a routerLink="/instance/{{ instance?.id }}/environment">Environment</a></li>
            <li><a routerLink="/instance/{{ instance?.id }}/services">Services</a></li>
            <li><a routerLink="/instance/{{ instance?.id }}/proxy-domains">Proxy domains</a></li>
            <li><a routerLink="/instance/{{ instance?.id }}/logs">Logs</a></li>
        </ul>
    </div>
</div>

<div class="form form-horizontal">
    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <label class="col-md-3 control-label">Name</label>
                <div class="col-md-9">
                    <p class="form-control-static">{{ instance?.name}}</p>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-3 control-label">Definition</label>
                <div class="col-md-9">
                    <p class="form-control-static">
                        <a routerLink="/definition/{{ instance?.definition.id }}">{{ instance?.definition.name }}</a>
                    </p>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-3 control-label">Project</label>
                <div class="col-md-9">
                    <p class="form-control-static">
                        <a routerLink="/project/{{ instance?.definition.project.id }}">
                            {{instance?.definition.project.name }}
                        </a>
                    </p>
                </div>
            </div>

            <div class="form-group">
                <label class="col-md-3 control-label">Build status</label>
                <div class="col-md-9">
                    <div class="instance-status-indicator form-control-static">
                        <span *ngIf="instance?.completedAt" class="label label-success">
                            Completed in
                            {{ {start: instance?.createdAt, end: instance?.completedAt} | elapsedTime }}
                        </span>
                        <span *ngIf="instance?.failedAt" class="label label-danger">
                            Faled after
                            {{ {start: instance?.createdAt, end: instance?.failedAt} | elapsedTime }}
                        </span>
                        <span *ngIf="!instance?.completedAt && !instance?.failedAt" class="label label-default">
                            In progress
                        </span>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label class="col-md-3 control-label">Created at</label>
                <div class="col-md-9">
                    <p class="form-control-static">
                        {{ instance?.createdAt | absoluteDate }}<br>
                        ({{ instance?.createdAt | relativeDate }})
                    </p>
                </div>
            </div>

            <div *ngIf="instance?.updatedAt" class="form-group">
                <label class="col-md-3 control-label">Updated at</label>
                <div class="col-md-9">
                    <p class="form-control-static">
                        {{ instance?.updatedAt | absoluteDate }}<br>
                        ({{ instance?.updatedAt | relativeDate }})
                    </p>
                </div>
            </div>

            <div *ngIf="instance?.completedAt" class="form-group">
                <label class="col-md-3 control-label">Completed at</label>
                <div class="col-md-9">
                    <p class="form-control-static">
                        {{ instance?.completedAt | absoluteDate }}<br>
                        ({{ instance?.completedAt | relativeDate }})
                    </p>
                </div>
            </div>

            <div *ngIf="instance?.failedAt" class="form-group">
                <label class="col-md-3 control-label">Failed at</label>
                <div class="col-md-9">
                    <p class="form-control-static">
                        {{ instance?.failedAt | absoluteDate }}<br>
                        ({{ instance?.failedAt | relativeDate }})
                    </p>
                </div>
            </div>

            <div *ngIf="instance?.summaryItems?.length">
                <div class="form-group" *ngFor="let summaryItem of instance?.summaryItems">
                    <label class="col-md-3 control-label">{{ summaryItem.name }}</label>
                    <div class="col-md-9">
                        <div class="form-control-static" innerHTML="{{ summaryItem.value | linkify }}"></div>
                    </div>
                </div>
            </div>

            <div>
                <span (click)="removeInstance()" class="btn btn-danger">Remove</span>
            </div>
        </div>
    </div>
</div>
