<div class="row">
    <div class="col-md-12">
        <div class="page-header">
            <h2>Instance <em>{{ instance?.name }}</em></h2>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <ul class="nav nav-tabs">
            <li class="active"><a routerLink="/instance/{{ instance?.id }}">Summary</a></li>
            <li><a routerLink="/instance/{{ instance?.id }}/environment">Environment</a></li>
            <li><a routerLink="/instance/{{ instance?.id }}/services">Services</a></li>
            <li><a routerLink="/instance/{{ instance?.id }}/proxy-domains">Proxy domains</a></li>
            <li><a routerLink="/instance/{{ instance?.id }}/logs">Logs</a></li>
        </ul>
    </div>
</div>

<div class="form">
    <div class="row">
        <div class="col-md-3">
            <div class="form-group">
                <label class="control-label">Name</label>
                <p class="form-control-static">{{ instance?.name}}</p>
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <label class="control-label">Definition</label>
                <p class="form-control-static">
                    <a routerLink="/definition/{{ instance?.definition.id }}">{{ instance?.definition.name }}</a>
                </p>
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <label class="control-label">Project</label>
                <p class="form-control-static">
                    <a routerLink="/project/{{ instance?.definition.project.id }}">
                        {{instance?.definition.project.name }}
                    </a>
                </p>
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <label class="control-label">Build status</label>
                <div class="instance-status-indicator form-control-static">
                    <span *ngIf="instance?.completedAt" class="label label-success">
                        Completed in
                        {{ {start: instance?.createdAt, end: instance?.completedAt} | elapsedTime }}
                    </span>
                    <span *ngIf="instance?.failedAt" class="label label-danger">
                        Failed after
                        {{ {start: instance?.createdAt, end: instance?.failedAt} | elapsedTime }}
                    </span>
                    <span *ngIf="!instance?.completedAt && !instance?.failedAt" class="label label-default">
                        In progress
                    </span>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <div class="form-group">
                <label class="control-label">Created at</label>
                <p class="form-control-static">
                    <span *ngIf="instance?.createdAt">
                        {{ instance?.createdAt | absoluteDate }}<br>
                        ({{ instance?.createdAt | relativeDate }})
                    </span>
                    <span *ngIf="!instance?.createdAt">
                        &mdash;
                    </span>
                </p>
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <label class="control-label">Updated at</label>
                <p class="form-control-static">
                    <span *ngIf="instance?.updatedAt">
                        {{ instance?.updatedAt | absoluteDate }}<br>
                        ({{ instance?.updatedAt | relativeDate }})
                    </span>
                    <span *ngIf="!instance?.updatedAt">
                        &mdash;
                    </span>
                </p>
            </div>
        </div>
        <div class="col-md-3">
            <label class="control-label">Completed at</label>
            <div *ngIf="instance?.completedAt" class="form-group">
                <p class="form-control-static">
                    <span *ngIf="instance?.completedAt">
                        {{ instance?.completedAt | absoluteDate }}<br>
                        ({{ instance?.completedAt | relativeDate }})
                    </span>
                    <span *ngIf="!instance?.completedAt">
                        &mdash;
                    </span>
                </p>
            </div>
        </div>
        <div class="col-md-3">
            <label class="control-label">Failed at</label>
            <div *ngIf="instance?.failedAt" class="form-group">
                <p class="form-control-static">
                    <span *ngIf="instance?.failedAt">
                        {{ instance?.failedAt | absoluteDate }}<br>
                        ({{ instance?.failedAt | relativeDate }})
                    </span>
                    <span *ngIf="!instance?.failedAt">
                        &mdash;
                    </span>
                </p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="form-group" >
                <label class="control-label">Summary items</label>
                <div class="form-control-static">
                    <div *ngIf="instance?.summaryItems?.length">
                        <dl *ngFor="let summaryItem of instance?.summaryItems">
                            <dt>{{ summaryItem.name }}</dt>
                            <dd innerHTML="{{ summaryItem.value | linkify }}"></dd>
                        </dl>
                    </div>
                    <div *ngIf="!instance?.summaryItems?.length">
                        &mdash;
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div>
                <span (click)="removeInstance()" class="btn btn-danger">Remove</span>
            </div>
        </div>
    </div>
</div>
