<div class="row">
    <div class="col-md-12">
        <div class="page-header">
            <h2>Instance <em>{{ instance?.name }}</em></h2>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <ul class="nav nav-tabs">
            <li><a routerLink="/instance/{{ instance?.id }}">Summary</a></li>
            <li><a routerLink="/instance/{{ instance?.id }}/environment">Environment</a></li>
            <li><a routerLink="/instance/{{ instance?.id }}/services">Services</a></li>
            <li><a routerLink="/instance/{{ instance?.id }}/proxy-domains">Proxy domains</a></li>
            <li class="active"><a routerLink="/instance/{{ instance?.id }}/logs">Logs</a></li>
        </ul>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <div class="form-group" [hidden]="!instance?.commandLogs?.length">
            <div *ngFor="let commandLog of instance?.commandLogs; trackBy: trackByIndex">
                <div class="panel panel-default command-log">
                    <div class="panel-heading">
                        <div class="command-log-expand-toggle">
                            <span *ngIf="isExpanded(commandLog.id)" (click)="collapse(commandLog.id)">
                                <span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span>
                            </span>
                            <span *ngIf="!isExpanded(commandLog.id)" (click)="expand(commandLog.id)">
                                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                            </span>
                        </div>
                        <div class="command-log-description" [innerHTML]="commandLog.description | MarkdownToHtml"></div>
                        <div class="command-log-indicator">
                            <span *ngIf="commandLog.completedAt" class="label label-success">
                                Completed in
                                {{ {start: commandLog.createdAt, end: commandLog.completedAt} | elapsedTime }}
                            </span>
                                <span *ngIf="commandLog.failedAt" class="label label-danger">
                                Failed after
                                {{ {start: commandLog.createdAt, end: commandLog.failedAt} | elapsedTime }}
                            </span>
                                <span *ngIf="!commandLog.completedAt && !commandLog.failedAt" class="label label-default">
                                In progress
                            </span>
                        </div>
                    </div>
                    <div *ngIf="isExpanded(commandLog.id)" class="panel-body">
                        <pre class="command-log-entries" [innerHTML]="joinRecentCommandLogEntryMessages(commandLog.entries)"></pre>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
