<div class="well well-sm form-well">

    <button class="btn btn-danger btn-sm form-well-delete-btn" (click)="delete()">
        <span class="glyphicon glyphicon-trash"></span>
    </button>

    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <label class="control-label">Name</label>
                <input type="text" class="form-control" [(ngModel)]="item.name">
            </div>
        </div>
        <div class="col-md-8">
            <div class="form-group">
                <label class="control-label">Text</label>
                <input type="text" class="form-control" [(ngModel)]="item.text">
            </div>
        </div>
    </div>

</div>
