<div class="well well-sm">
    <div class="form-group">
        <label class="col-lg-2 control-label">ID</label>
        <div class="col-lg-8">
            <input type="text" class="form-control" [(ngModel)]="item.id">
        </div>
        <div class="col-lg-2">
            <a
                class="btn btn-danger btn-sm pull-right"
                style="position: relative; top: 8px;"
                (click)="onDeleteItem()"
            >
                Delete
            </a>
        </div>
    </div>
    <div class="form-group">
        <label class="col-lg-2 control-label">Asset ID</label>
        <div class="col-lg-10">
            <input type="text" class="form-control" [(ngModel)]="item.assetId">
        </div>
    </div>
</div>
