<div class="row">
    <div class="col-md-12">
        <div class="page-header">
            <h2>
                <small>Definition</small><br>
                {{ definition?.name }}
            </h2>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <ul class="nav nav-pills">
            <li><a routerLink="/definition/{{ definition?.id }}">Summary</a></li>
            <li><a routerLink="/definition/{{ definition?.id }}/configuration">Configuration</a></li>
            <li><a routerLink="/definition/{{ definition?.id }}/deploy-keys">Deploy keys</a></li>
            <li><a routerLink="/definition/{{ definition?.id }}/environment">Predicted environment</a></li>
            <li><a routerLink="/definition/{{ definition?.id }}/substitutions">Predicted substitutions</a></li>
            <li class="active"><a routerLink="/definition/{{ definition?.id }}/instances">Instances</a></li>
        </ul>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div *ngIf="definition">
            <app-instance-table [instances]="definition?.instances"
                                [withProjects]="false"
                                [withDefinitions]="false"
            ></app-instance-table>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12" style="text-align: right;">
        <a routerLink="/definition/{{ definition?.id }}/instance/add"
           class="btn btn-success"
        >
            Add instance
        </a>
    </div>
</div>
