<app-title
    *ngIf="action === 'edit'"
    [context]="'Definition'"
    [title]="'Edit ' + sourceDefinition?.name"
></app-title>

<div class="content-body">
    <div class="container-fluid">

        <div class="form build-defintion-add-form">

            <div class="row form-section">
                <div class="col-md-12">
                    <h3>Basic information</h3>
                </div>
                <div class="form-group col-md-12">
                    <label for="addDefinition_name" class="control-label">Name</label>
                    <input type="text" class="form-control" id="addDefinition_name" name="addDefinition_name" [(ngModel)]="definition.name">
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <a class="btn btn-primary btn-sm" (click)="toggleMode()">
                        {{ isModeYamlImport() ? 'Back to config-form': 'Import from Yaml' }}
                    </a>
                </div>
            </div>

            <!-- Config config-form -->
            <div *ngIf="isModeForm()">
                <app-definition-config-form [config]="definition.config"></app-definition-config-form>
            </div>

            <!-- Import from Yaml -->
            <div *ngIf="isModeYamlImport()">
                <app-import-definition-config-yaml (importConfigYaml)="importYamlConfig($event)"></app-import-definition-config-yaml>
            </div>

            <!-- Buttons -->
            <div class="form-section">
                <div class="row">
                    <div class="col-md-12">
                        <button type="submit" class="btn btn-success" (click)="createDefinition()">Submit</button>
                    </div>
                </div>
            </div>

        </div>

    </div>
</div>