<div class="well well-sm form-well">

    <a class="btn btn-danger btn-sm form-well-delete-btn" (click)="delete()">
        <span class="glyphicon glyphicon-trash"></span>
    </a>

    <div class="row">
        <div class="col-lg-3">
            <div class="form-group">
                <label class="control-label">Type</label>
                <p class="form-control-static">Execute service command</p>
            </div>
        </div>

        <div class="col-lg-3">
            <div class="form-group">
                <label class="control-label">Service ID</label>
                <input type="text" class="form-control" [(ngModel)]="item.serviceId">
            </div>
        </div>

        <div class="col-lg-3">
            <div class="form-group">
                <label class="control-label">Command</label>
                <input type="text" class="form-control" [(ngModel)]="item.command[0]">
            </div>
        </div>

        <div class="col-lg-3">
            <div class="form-group">
                <label class="control-label">Arguments</label>
                <div *ngIf="2 > item.command.length">
                    <p>No arguments to list.</p>
                </div>
                <div *ngIf="1 < item.command.length">
                    <div *ngFor="let argument of item.command; trackBy: trackByIndex; let i = index"
                         style="position: relative; padding-right: 40px;"
                    >
                        <div *ngIf="i > 0">
                            <input type="text"
                                   class="form-control"
                                   [(ngModel)]="item.command[i]"
                            >
                            <a class="btn btn-danger btn-sm"
                               (click)="deleteArgument(i)"
                               style="position: absolute; top: 5px; right: 0;"
                            >
                                <span class="glyphicon glyphicon-remove"></span>
                            </a>
                        </div>
                    </div>
                </div>
                <div style="margin-top: 8px">
                    <a class="btn btn-success btn-sm"
                       (click)="addArgument()"
                    >
                        <span class="glyphicon glyphicon-plus"></span>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <hr style="border-color: rgba(44,62,80,0.15);">

    <div class="row">
        <div class="col-lg-6">
            <app-inherited-env-vars-form-element [inheritedEnvVars]="item.inheritedEnvVariables"
                                                 [availableEnvVarNames]="availableEnvVariableNames"
            ></app-inherited-env-vars-form-element>
        </div>

        <div class="col-lg-6">
            <app-custom-env-vars-form-element [customEnvVars]="item.customEnvVariables"></app-custom-env-vars-form-element>
        </div>

    </div>

</div>