<div class="sidebar">

    <div class="sidebar-top">
        <div class="logo">Feater</div>
        <div class="version">v0.1.0</div>
    </div>

    <div class="sidebar-bottom">
        <ul class="main-menu">
            <li><a routerLink="/projects">Projects</a></li>
            <li><a routerLink="/definitions">Definitions</a></li>
            <li><a routerLink="/instances">Instances</a></li>
            <li><a routerLink="/deploy-keys">Deploy keys</a></li>
            <li><a routerLink="/assets">Assets</a></li>
            <li><a routerLink="/about">About</a></li>
        </ul>
    </div>

</div>
