<div class="well well-sm form-well">

    <a class="btn btn-danger btn-sm form-well-delete-btn" (click)="delete()">
        <span class="glyphicon glyphicon-trash"></span>
    </a>

    <div class="row">

        <div class="col-lg-6">
            <div class="form-group">
                <label class="control-label">ID</label>
                <input type="text" trim class="form-control" [(ngModel)]="assetVolume.id">
            </div>
        </div>

        <div class="col-lg-6">
            <div class="form-group">
                <label class="control-label">Asset</label>
                <input type="text" trim class="form-control" [(ngModel)]="assetVolume.assetId">
            </div>
        </div>

    </div>

</div>
