<div class="well well-sm form-well">

    <a class="btn btn-danger btn-sm form-well-delete-btn" (click)="delete()">
        <span class="glyphicon glyphicon-trash"></span>
    </a>

    <div class="row">

        <div class="col-md-4">
            <div class="form-group">
                <label class="control-label">ID</label>
                <input type="text" trim class="form-control" [(ngModel)]="sourceVolume.id">
            </div>
        </div>

        <div class="col-md-4">
            <div class="form-group">
                <label class="control-label">Source</label>
                <input type="text" trim class="form-control" [(ngModel)]="sourceVolume.sourceId">
            </div>
        </div>

        <div class="col-md-4">
            <div class="form-group">
                <label class="control-label">Relative path</label>
                <input type="text" trim class="form-control" [(ngModel)]="sourceVolume.relativePath">
            </div>
        </div>

    </div>

</div>
