<div class="row">
    <div class="col-md-12">
        <div class="page-header">
            <h2>Instance <em>{{ instance?.name }}</em></h2>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <ul class="nav nav-pills">
            <li><a routerLink="/instance/{{ instance?.id }}">Summary</a></li>
            <li class="active"><a routerLink="/instance/{{ instance?.id }}/environment">Environment</a></li>
            <li><a routerLink="/instance/{{ instance?.id }}/services">Services</a></li>
            <li><a routerLink="/instance/{{ instance?.id }}/proxy-domains">Proxy domains</a></li>
            <li><a routerLink="/instance/{{ instance?.id }}/logs">Logs</a></li>
        </ul>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div *ngIf="instance?.envVariables?.length">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th scope="col" class="fit-column">Name</th>
                    <th scope="col">Value</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let envVariable of instance?.envVariables" class="form-control-static">
                    <td class="fit-column">
                        <span class="env-variable-name">{{ envVariable.name }}</span>
                    </td>
                    <td>
                        <span class="env-variable-value">{{ envVariable.value }}</span>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
