<div class="row">
    <div class="col-lg-12">
        <div class="form-group">
            <h4>Inherited env variables</h4>
            <div *ngIf="!inheritedEnvVars.length">
                <p>No inherited variables to list.</p>
            </div>
            <div *ngIf="inheritedEnvVars.length">
                <div class="row">
                    <div class="col-lg-6">
                        <label>Variable</label>
                    </div>
                    <div class="col-lg-6">
                        <label>Alias</label>
                    </div>
                </div>
                <div *ngFor="let inheritedEnvVar of inheritedEnvVars" class="row">
                    <div class="col-lg-6">
                        <input type="text" class="form-control" [(ngModel)]="inheritedEnvVar.name">
                        <!-- TODO Replace with input with autocomplete
                        <select class="form-control" [(ngModel)]="inheritedEnvVar.name">
                            <option *ngFor="let availableEnvVarName of availableEnvVarNames"
                                    [value]="availableEnvVarName"
                                    selected
                            >
                                {{ availableEnvVarName }}
                            </option>
                        </select>
                        -->
                    </div>
                    <div class="col-lg-6">
                        <div style="position: relative; padding-right: 40px;">
                            <input type="text" class="form-control" [(ngModel)]="inheritedEnvVar.alias">
                            <a class="btn btn-danger btn-sm"
                               (click)="deleteInheritedEnvVar(i)"
                               style="position: absolute; top: 5px; right: 0;"
                            >
                                <span class="glyphicon glyphicon-remove"></span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div style="margin-top: 8px">
                <a class="btn btn-success btn-sm"
                   (click)="addInheritedEnvVar()"
                >
                    <span class="glyphicon glyphicon-plus"></span>
                </a>
            </div>
        </div>
    </div>
</div>
