<app-title [context]="'Definition'" [title]="definition?.name"></app-title>

<div class="content-body">
    <div class="container-fluid">
        <app-definition-tabs
            [definitionId]="definition?.id"
            [activeTab]="definitionTabs.predictedSubstitutions"
        ></app-definition-tabs>

        <div class="row">
            <div class="col-md-12">
                <div *ngIf="definition?.predictedFeaterVariables?.length">
                    <div class="table-wrapper">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th scope="col" class="fit-column">Name</th>
                                    <th scope="col" class="fit-column">Type</th>
                                    <th scope="col">Value</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr
                                    *ngFor="
                                        let predictedFeaterVariable of definition?.predictedFeaterVariables
                                    "
                                    class="form-control-static"
                                >
                                    <td>
                                        <span class="env-variable-name">{{
                                            predictedFeaterVariable.name
                                        }}</span>
                                    </td>
                                    <td>
                                        <span
                                            *ngIf="
                                                predictedFeaterVariable.value
                                            "
                                            >Value</span
                                        >
                                        <span
                                            *ngIf="
                                                predictedFeaterVariable.pattern
                                            "
                                            >Pattern</span
                                        >
                                    </td>
                                    <td>
                                        <span
                                            *ngIf="
                                                predictedFeaterVariable.value
                                            "
                                            class="env-variable-value"
                                        >
                                            {{ predictedFeaterVariable.value }}
                                        </span>
                                        <span
                                            *ngIf="
                                                predictedFeaterVariable.pattern
                                            "
                                            class="env-variable-pattern"
                                        >
                                            {{
                                                predictedFeaterVariable.pattern
                                            }}
                                        </span>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
