<div class="row">
    <div class="col-md-12">
        <div class="page-header">
            <h2><small>Deploy key</small><br>{{ item?.cloneUrl }}</h2>
        </div>
    </div>
</div>

<form>
    <div class="row">
        <div class="col-md-5">
            <div class="form-group">
                <label for="inputDeployKey_cloneUrl" class="control-label">Clone URL</label>
                <p class="form-control-static" id="inputDeployKey_cloneUrl">{{ item?.cloneUrl }}</p>
            </div>
            <div class="form-group">
                <label for="inputDeployKeyFingerprint" class="control-label">Fingerprint</label>
                <p class="form-control-static" id="inputDeployKeyFingerprint">{{ item?.fingerprint }}</p>
            </div>
        </div>
        <div class="col-md-7">
            <div class="form-group">
                <label for="inputDeployKey_publicKey" class="control-label">Public key</label>
                <div class="form-control-static" id="inputDeployKey_publicKey">
                    <pre style="white-space: pre-wrap; background: none; color: #2c3e50;">{{ item?.publicKey }}</pre>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-3">
            <div class="form-group">
                <label for="inputDeployKey_createdAt" class="control-label">Created</label>
                <p class="form-control-static" id="inputDeployKey_createdAt">{{ item?.createdAt | relativeDate }}</p>
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <label for="inputDeployKey_updatedAt" class="control-label">Updated</label>
                <p class="form-control-static" id="inputDeployKey_updatedAt">{{ item?.updatedAt | relativeDate }}</p>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <a class="btn btn-success" (click)="regenerateItem()">Regenerate</a>
            <a class="btn btn-danger" (click)="removeItem()" style="margin-left: 10px;">Remove</a>
        </div>
    </div>
</form>
