<div class="row">
    <div class="col-lg-12">
        <div class="page-header">
            <h2>Deploy key for <em>{{ deployKey?.sshCloneUrl }}</em></h2>
        </div>
    </div>
</div>

<form class="form-horizontal">
    <div class="row">
        <div class="col-lg-12">
            <div class="form-group">
                <label for="inputDeployKeySshCloneUrl" class="col-lg-2 control-label">SSH clone URL</label>
                <div class="col-lg-10">
                    <p class="form-control-static" id="inputDeployKeySshCloneUrl">{{ deployKey?.sshCloneUrl }}</p>
                </div>
            </div>
            <div class="form-group">
                <label for="inputDeployKeyPublicKey" class="col-lg-2 control-label">Public key</label>
                <div class="col-lg-10">
                    <div class="form-control-static" id="inputDeployKeyPublicKey">
                        <pre style="white-space: pre-wrap; background: none; color: #2c3e50;">{{ deployKey?.publicKey }}</pre>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="inputDeployKeyFingerprint" class="col-lg-2 control-label">Fingerprint</label>
                <div class="col-lg-10">
                    <p class="form-control-static" id="inputDeployKeyFingerprint">{{ deployKey?.fingerprint }}</p>
                </div>
            </div>
        </div>
    </div>
</form>

<div class="row">
    <div class="col-lg-12" style="text-align: right;">
        <a class="btn btn-success" (click)="regenerate()">Regenerate</a>
    </div>
</div>
