<div class="row">
    <div class="col-md-12">
        <div class="page-header">
            <h2>
                <small>Definition</small><br>
                {{ definition?.name }}
            </h2>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <ul class="nav nav-pills">
            <li><a routerLink="/definition/{{ definition?.id }}">Summary</a></li>
            <li><a routerLink="/definition/{{ definition?.id }}/configuration">Configuration</a></li>
            <li><a routerLink="/definition/{{ definition?.id }}/deploy-keys">Deploy keys</a></li>
            <li class="active"><a routerLink="/definition/{{ definition?.id }}/environment">Predicted environment</a></li>
            <li><a routerLink="/definition/{{ definition?.id }}/substitutions">Predicted substitutions</a></li>
            <li><a routerLink="/definition/{{ definition?.id }}/instances">Instances</a></li>
        </ul>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div *ngIf="definition?.predictedEnvVariables?.length">
            <div class="table-wrapper">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th scope="col" class="fit-column">Name</th>
                            <th scope="col" class="fit-column">Type</th>
                            <th scope="col">Value</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let predictedEnvVariable of definition?.predictedEnvVariables" class="form-control-static">
                            <td>
                                <span class="env-variable-name">{{ predictedEnvVariable.name }}</span>
                            </td>
                            <td>
                                <span *ngIf="predictedEnvVariable.value">Value</span>
                                <span *ngIf="predictedEnvVariable.pattern">Pattern</span>
                            </td>
                            <td>
                                <span *ngIf="predictedEnvVariable.value" class="env-variable-value">
                                    {{ predictedEnvVariable.value }}
                                </span>
                                <span *ngIf="predictedEnvVariable.pattern" class="env-variable-pattern">
                                    {{ predictedEnvVariable.pattern }}
                                </span>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
