<div class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" style="cursor: pointer;" (click)="goToHomepage()">Feat</a>
            <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div class="navbar-collapse collapse" id="navbar-main">
            <ul class="nav navbar-nav">
                <li>
                    <a style="cursor: pointer;" (click)="goToUserList()">Users</a>
                </li>
                <li>
                    <a style="cursor: pointer;" (click)="goToProjectList()">Projects</a>
                </li>
                <li>
                    <a style="cursor: pointer;" (click)="goToDefinitionList()">Definitions</a>
                </li>
                <li>
                    <a style="cursor: pointer;" (click)="goToInstanceList()">Instances</a>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="{{ signinUrl }}">Sign in</a>
                </li>
                <li>
                    <a href="{{ signoutUrl }}">Sign out</a>
                </li>
                <li>
                    <a>Signed in as <em>Anonymous</em></a>
                </li>
            </ul>
        </div>
    </div>
</div>
