<div class="sidebar">

    <div class="logo">Feater</div>

    <ul class="main-menu">
        <li><a (click)="goToUserList()">Users</a></li>
        <li><a (click)="goToProjectList()">Projects</a></li>
        <li><a (click)="goToDefinitionList()">Definitions</a></li>
        <li><a (click)="goToInstanceList()">Instances</a></li>
    </ul>

    <ul class="auth-menu">
        <li>
            <span class="glyphicon glyphicon-user" aria-hidden="true"></span>&nbsp;
            <span>John Smith</span>
        </li>
        <li><a style="opacity: 0.5;" href="{{ signinUrl }}">Sign in</a></li>
        <li><a href="{{ signoutUrl }}">Sign out</a></li>
    </ul>

</div>
