<div>
    <div *ngIf="!deployKeys.length">
        <p>No deploy keys to list.</p>
    </div>
    <div *ngIf="deployKeys.length">
        <div class="table-wrapper">
            <table class="table table-striped table-hover ">
                <thead>
                    <tr>
                        <th class="fit-column">Clone URL</th>
                        <th>Fingerprint</th>
                        <th class="fit-column">Created</th>
                        <th class="fit-column">Updated</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let deployKey of deployKeys">
                        <td class="fit-column">
                            <a routerLink="/deploy-key/{{ deployKey.id }}">
                                {{ deployKey.cloneUrl }}
                            </a>
                        </td>
                        <td>{{ deployKey.fingerprint }}</td>
                        <td class="fit-column">
                            <small>{{ deployKey.createdAt | relativeDate }}</small>
                        </td>
                        <td class="fit-column">
                            <small>{{ deployKey.updatedAt | relativeDate }}</small>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
