[app]
versionNumber = 0.0.1

[web]
scheme = https
host = feat.xsolve.pl
port = 443

[mongo]
dsn = mongodb://user:password@host:27017/feat

[github]
debugMode = false
personalAccessToken = personalAccessToken

[googleOAuth2]
clientId = googleOAuth2ClientId
clientSecret = googleOAuth2ClientSecret
allowedDomains[] = googleOAuth2AllowedDomain1
allowedDomains[] = googleOAuth2AllowedDomain2
