<div class="row">
    <div class="col-lg-12">
        <div class="page-header">
            <h2>Instance <em>{{ item?.name }}</em></h2>
        </div>
    </div>
</div>

<div class="form form-horizontal">
    <div class="row">
        <div class="col-lg-12">
            <div class="well bs-component">
                <div class="form-group">
                    <label class="col-lg-3 control-label">Name</label>
                    <div class="col-lg-9">
                        <p class="form-control-static">
                            <a (click)="goToProjectDetails(item?.definition.project)">{{ item?.definition.project.name }}</a> /
                            <a (click)="goToDefinitionDetails(item?.definition)">{{ item?.definition.name }}</a> /
                            <span>{{ item?.name}}</span>
                        </p>
                    </div>
                </div>

                <div class="form-group" [hidden]="!item?.environmentalVariables?.length">
                    <label class="col-lg-3 control-label">Environmental variables</label>
                    <div class="col-lg-9">
                        <table class="table table-striped">
                            <tbody>
                            <tr
                                    *ngFor="let environmentalVariable of item?.environmentalVariables"
                                    class="form-control-static"
                            >
                                <td>{{ environmentalVariable.key }}</td>
                                <td>{{ environmentalVariable.value }}</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

                <div class="form-group" [hidden]="!item?.summaryItems?.length">
                    <label class="col-lg-3 control-label">Summary</label>
                    <div class="col-lg-9">
                        <table class="table table-striped">
                            <tbody>
                            <tr
                                    *ngFor="let summaryItem of item?.summaryItems"
                                    class="form-control-static"
                            >
                                <td>{{ summaryItem.name }}</td>
                                <td>{{ summaryItem.value }}</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>