<div class="row">
    <div class="col-lg-12">
        <div class="page-header">
            <h2>Instance <em>{{ instance?.name }}</em></h2>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active"><a href="#summary" role="tab" data-toggle="tab">Summary</a></li>
            <li role="presentation"><a href="#environment" role="tab" data-toggle="tab">Environment</a></li>
            <li role="presentation"><a href="#services" role="tab" data-toggle="tab">Services</a></li>
            <li role="presentation"><a href="#proxy-domains" role="tab" data-toggle="tab">Proxy domains</a></li>
            <li role="presentation"><a href="#logs" role="tab" data-toggle="tab">Logs</a></li>
        </ul>
    </div>
</div>

<div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="summary">
        <div class="form form-horizontal">
            <div class="row">
                <div class="col-lg-12">
                    <div class="form-group">
                        <label class="col-lg-3 control-label">Name</label>
                        <div class="col-lg-9">
                            <p class="form-control-static">{{ instance?.name}}</p>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-3 control-label">Definition</label>
                        <div class="col-lg-9">
                            <p class="form-control-static">
                                <a routerLink="/definition/{{ instance?.definition.id }}">{{ instance?.definition.name }}</a>
                            </p>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-3 control-label">Project</label>
                        <div class="col-lg-9">
                            <p class="form-control-static">
                                <a routerLink="/project/{{ instance?.definition.project.id }}">
                                    {{instance?.definition.project.name }}
                                </a>
                            </p>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-lg-3 control-label">Created</label>
                        <div class="col-lg-9">
                            <p class="form-control-static">{{ instance?.createdAt | absoluteDate }}</p>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-lg-3 control-label">Updated</label>
                        <div class="col-lg-9">
                            <p class="form-control-static">{{ instance?.updatedAt | absoluteDate }}</p>
                        </div>
                    </div>

                    <div *ngIf="instance?.summaryItems?.length">
                        <div class="form-group" *ngFor="let summaryItem of instance?.summaryItems">
                            <label class="col-lg-3 control-label">{{ summaryItem.name }}</label>
                            <div class="col-lg-9">
                                <div class="form-control-static" innerHTML="{{ summaryItem.text | linkify }}"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div role="tabpanel" class="tab-pane" id="environment">
        <div class="form form-horizontal">
            <div class="row">
                <div class="col-lg-12">
                    <div *ngIf="instance?.envVariables?.length">
                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th scope="col" class="fit-column">Name</th>
                                <th scope="col">Value</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr *ngFor="let envVariable of instance?.envVariables" class="form-control-static">
                                <td class="fit-column">{{ envVariable.name }}</td>
                                <td>{{ envVariable.value }}</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div role="tabpanel" class="tab-pane" id="services">
        <div class="form form-horizontal">
            <div class="row">
                <div class="col-lg-12">
                    <div *ngIf="instance?.services?.length">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th scope="col" class="fit-column">ID</th>
                                    <th scope="col">Container ID</th>
                                    <th scope="col" class="fit-column">Container state</th>
                                    <th scope="col" class="fit-column">Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let service of instance?.services" class="form-control-static">
                                    <td class="fit-column">{{ service.id }}</td>
                                    <td>{{ service.containerId }}</td>
                                    <td class="fit-column">{{ service.containerState }}</td>
                                    <td class="service-actions fit-column">
                                        <span [ngClass]="{disabled: 'exited' !== service.containerState && 'paused' !== service.containerState}"
                                              (click)="startOrUnpauseService(service)"
                                              class="glyphicon glyphicon-play"
                                        ></span>

                                        <span [ngClass]="{disabled: 'running' !== service.containerState}"
                                              (click)="pauseService(service)"
                                              class="glyphicon glyphicon-pause"
                                        ></span>

                                        <span [ngClass]="{disabled: 'running' !== service.containerState}"
                                              (click)="stopService(service)"
                                              class="glyphicon glyphicon-stop"
                                        ></span>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div role="tabpanel" class="tab-pane" id="proxy-domains">
        <div class="form form-horizontal">
            <div class="row">
                <div class="col-lg-12">
                    <table *ngIf="instance?.proxiedPorts?.length" class="table table-striped">
                        <thead>
                            <tr>
                                <th scope="col" class="fit-column">ID</th>
                                <th scope="col" class="fit-column">Name</th>
                                <th scope="col" class="fit-column">Service ID</th>
                                <th scope="col" class="fit-column">IP address</th>
                                <th scope="col" class="fit-column">Port</th>
                                <th scope="col">Proxy domains</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let proxiedPort of instance?.proxiedPorts" class="form-control-static">
                                <td class="fit-column">{{ proxiedPort.id }}</td>
                                <td class="fit-column">{{ proxiedPort.name }}</td>
                                <td class="fit-column">{{ proxiedPort.serviceId }}</td>
                                <td class="fit-column">{{ getServiceById(proxiedPort.serviceId).ipAddress }}</td>
                                <td class="fit-column">{{ proxiedPort.port }}</td>
                                <td>{{ proxiedPort.proxyDomain }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div role="tabpanel" class="tab-pane" id="logs">
        <div class="row">
            <div class="col-lg-12">
                <div class="form-group" [hidden]="!instance?.logs?.length">
                    <table class="logs">
                        <tbody>
                            <tr *ngFor="let log of instance?.logs">
                                <td class="log-timestamp fit-column">{{ log.createdAt | absoluteDate }}</td>
                                <td class="log-message">{{ log.message }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
