<div class="row">
    <div class="col-lg-12">
        <div class="page-header">
            <h2>Add build instance for build definition <em>{{ buildDefinition?.name }}</em></h2>
        </div>
    </div>
</div>
<form class="form-horizontal">
    <div class="row">
        <div class="col-lg-12">
            <div class="well bs-component">
                <div class="form-group">
                    <label for="inputBuildInstanceName" class="col-lg-2 control-label">Name</label>
                    <div class="col-lg-10">
                        <input type="text" class="form-control" id="inputBuildInstanceName" placeholder="Name" name="name" [(ngModel)]="item.name">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12" style="text-align: right;">
            <button type="reset" class="btn btn-default" (click)="goToList()">Cancel</button>
            <button type="submit" class="btn btn-success" (click)="addItem()">Submit</button>
        </div>
    </div>
</form>
