{
  "extends" : [
    "eslint:recommended"
  ],
  "env" : {
    "node" : true,
    "es6" : true
  },
   "rules": {
    "key-spacing" : 0,
    "no-console" : 0,
    "object-curly-spacing" : [2, "always"]
  }
}
