<div class="row">
    <div class="col-lg-12">
        <div class="page-header">
            <a class="btn btn-danger pull-right" (click)="removeUnusedItems()" style="margin-left: 10px;">Remove unused</a>
            <a class="btn btn-success pull-right" (click)="generateMissingItems()">Generate missing</a>
            <h2 id="tables">Deploy keys</h2>
        </div>
        <div *ngIf="deployKeys">
            <app-deploy-key-table [deployKeys]="deployKeys"></app-deploy-key-table>
        </div>
    </div>
</div>
