<div>
    <div *ngIf="!assets.length">
        <p>No assets to list.</p>
    </div>
    <div *ngIf="assets.length">
        <div class="table-wrapper">
            <table class="table table-striped table-hover ">
                <thead>
                    <tr>
                        <th [ngClass]="{'fit-column': withProjects}">ID</th>
                        <th *ngIf="withProjects">Project</th>
                        <th class="fit-column">Created</th>
                        <th class="fit-column">Updated</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let asset of assets">
                        <td>
                            <a routerLink="/asset/{{ asset.id }}">
                                {{ asset.id }}
                            </a>
                        </td>
                        <td *ngIf="withProjects">
                            <a routerLink="/project/{{ asset.project.id }}">
                                {{ asset.project.name }}
                            </a>
                        </td>
                        <td>
                            <small>{{ asset.createdAt | relativeDate }}</small>
                        </td>
                        <td>
                            <small>{{ asset.updatedAt | relativeDate }}</small>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
