<app-title [context]="'Definition'" [title]="definition?.name"></app-title>

<div class="content-body">
    <div class="container-fluid">

        <app-definition-tabs [definitionId]="definition?.id" [activeTab]="definitionTabs.predictedEnvironment"></app-definition-tabs>

        <div class="row">
            <div class="col-md-12">
                <div *ngIf="definition?.predictedEnvVariables?.length">
                    <div class="table-wrapper">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th scope="col" class="fit-column">Name</th>
                                    <th scope="col" class="fit-column">Type</th>
                                    <th scope="col">Value</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let predictedEnvVariable of definition?.predictedEnvVariables" class="form-control-static">
                                    <td>
                                        <span class="env-variable-name">{{ predictedEnvVariable.name }}</span>
                                    </td>
                                    <td>
                                        <span *ngIf="predictedEnvVariable.value">Value</span>
                                        <span *ngIf="predictedEnvVariable.pattern">Pattern</span>
                                    </td>
                                    <td>
                                        <span *ngIf="predictedEnvVariable.value" class="env-variable-value">
                                            {{ predictedEnvVariable.value }}
                                        </span>
                                        <span *ngIf="predictedEnvVariable.pattern" class="env-variable-pattern">
                                            {{ predictedEnvVariable.pattern }}
                                        </span>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
