<div class="well well-sm form-well">

    <a class="btn btn-danger btn-sm form-well-delete-btn" (click)="delete()">
        <span class="glyphicon glyphicon-trash"></span>
    </a>

    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <label class="control-label">Task type</label>
                <p class="form-control-static">Execute command on service container</p>
            </div>
        </div>

        <div class="col-md-4">
            <div class="form-group">
                <label class="control-label">
                    ID
                    <span tooltip="ID can be provided for after build task in order to define the order in which they should be executed. It can be referenced in <em>Depends on</em> property of other tasks."
                          placement="right"
                          theme="light"
                          show-delay="200"
                    >
                        <span class="glyphicon glyphicon-question-sign"></span>
                    </span>
                </label>
                <input type="text" class="form-control" [(ngModel)]="task.id">
            </div>
        </div>

        <div class="col-md-4">
            <div class="form-group">
                <label class="control-label">Depends on</label>
                <div *ngIf="0 === task.dependsOn.length">
                    <p>No depends on ids to list.</p>
                </div>
                <div *ngIf="0 < task.dependsOn.length">
                    <div *ngFor="let dependsOnItem of task.dependsOn; trackBy: trackByIndex; let i = index"
                         style="position: relative; padding-right: 40px;"
                    >
                        <input type="text" class="form-control" [(ngModel)]="task.dependsOn[i]">
                        <a class="btn btn-danger btn-sm"
                           (click)="deleteDependsOn(i)"
                           style="position: absolute; top: 5px; right: 0;"
                        >
                            <span class="glyphicon glyphicon-remove"></span>
                        </a>
                    </div>
                </div>
                <div style="margin-top: 8px">
                    <a class="btn btn-success btn-sm"
                       (click)="addDependsOn()"
                    >
                        <span class="glyphicon glyphicon-plus"></span>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <label class="control-label">
                    Service ID
                    <span *ngIf="task.serviceId"
                          tooltip="It is assumed that service named <code>{{ task.serviceId }}</code> is defined in Docker Compose configuration."
                          placement="right"
                          theme="light"
                          show-delay="200"
                    >
                        <span class="glyphicon glyphicon-question-sign"></span>
                    </span>
                </label>
                <input type="text" class="form-control" [(ngModel)]="task.serviceId">
            </div>
        </div>

        <div class="col-md-4">
            <div class="form-group">
                <label class="control-label">Command</label>
                <input type="text" class="form-control" [(ngModel)]="task.command[0]">
            </div>
        </div>

        <div class="col-md-4">
            <div class="form-group">
                <label class="control-label">Arguments</label>
                <div *ngIf="2 > task.command.length">
                    <p>No arguments to list.</p>
                </div>
                <div *ngIf="1 < task.command.length">
                    <div *ngFor="let argument of task.command; trackBy: trackByIndex; let i = index"
                         style="position: relative; padding-right: 40px;"
                    >
                        <div *ngIf="i > 0">
                            <input type="text" class="form-control"[(ngModel)]="task.command[i]">
                            <a class="btn btn-danger btn-sm"
                               (click)="deleteArgument(i)"
                               style="position: absolute; top: 5px; right: 0;"
                            >
                                <span class="glyphicon glyphicon-remove"></span>
                            </a>
                        </div>
                    </div>
                </div>
                <div style="margin-top: 8px">
                    <a class="btn btn-success btn-sm"
                       (click)="addArgument()"
                    >
                        <span class="glyphicon glyphicon-plus"></span>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <hr style="border-color: rgba(44,62,80,0.15);">

    <div class="row">
        <div class="col-md-6">
            <app-inherited-env-vars-form-element [inheritedEnvVars]="task.inheritedEnvVariables"
                                                 [availableEnvVarNames]="availableEnvVariableNames"
            ></app-inherited-env-vars-form-element>
        </div>

        <div class="col-md-6">
            <app-custom-env-vars-form-element [customEnvVars]="task.customEnvVariables"></app-custom-env-vars-form-element>
        </div>

    </div>

</div>
