<div class="row">
    <div class="col-md-12">
        <div class="page-header">
            <h2><small>Definition</small><br>{{ definition?.name }}</h2>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <ul class="nav nav-pills" role="tablist">
            <li role="presentation" class="active"><a href="#summary" role="tab" data-toggle="tab">Summary</a></li>
            <li role="presentation"><a href="#configuration" role="tab" data-toggle="tab">Configuration</a></li>
            <li role="presentation"><a href="#deploy-keys" role="tab" data-toggle="tab">Deploy keys</a></li>
            <li role="presentation"><a href="#predicted-env-variables" role="tab" data-toggle="tab">Predicted environment</a></li>
            <li role="presentation"><a href="#predicted-feater-variables" role="tab" data-toggle="tab">Predicted substitutions</a></li>
            <li role="presentation"><a href="#instances" role="tab" data-toggle="tab">Instances</a></li>
        </ul>
    </div>
</div>

<div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="summary">
        <form>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label for="inputDefinition_name" class="control-label">Name</label>
                        <p class="form-control-static" id="inputDefinition_name">{{ definition?.name}}</p>
                    </div>
                    <div class="form-group">
                        <label for="inputDefinition_projectName" class="control-label">Project</label>
                        <p class="form-control-static" id="inputDefinition_projectName">
                            <a routerLink="/project/{{ definition?.project.id }}">{{ definition?.project.name }}</a>
                        </p>
                    </div>
                    <div class="form-group">
                        <label for="inputDefinition_createdAt" class="control-label">Created</label>
                        <p class="form-control-static" id="inputDefinition_createdAt">
                            {{ definition?.createdAt | absoluteDate }}
                        </p>
                    </div>
                    <div class="form-group">
                        <label for="inputDefinition_updatedAt" class="control-label">Updated</label>
                        <p class="form-control-static" id="inputDefinition_updatedAt">
                            {{ definition?.updatedAt | absoluteDate }}
                        </p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div>
                        <span routerLink="/definition/{{definition?.id}}/duplicate" class="btn btn-primary">Duplicate</span>
                    </div>
                </div>
            </div>
        </form>
    </div>

    <div role="tabpanel" class="tab-pane" id="configuration">
        <form>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label for="inputDefinition_configAsYaml" class="control-label">Configuration in Yaml</label>
                        <pre class="form-control-static" id="inputDefinition_configAsYaml">{{ definition?.configAsYaml }}</pre>
                    </div>
                </div>
            </div>
         </form>
    </div>

    <div role="tabpanel" class="tab-pane" id="deploy-keys">
        <div class="row">
            <div class="col-md-12">
                <div *ngIf="definition">
                    <app-deploy-key-table [deployKeys]="definition.deployKeys"></app-deploy-key-table>
                </div>
            </div>
        </div>
    </div>

    <div role="tabpanel" class="tab-pane" id="predicted-env-variables">
        <div class="row">
            <div class="col-md-12">
                <div *ngIf="definition?.predictedEnvVariables?.length">
                    <div class="table-wrapper">
                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th scope="col" class="fit-column">Name</th>
                                <th scope="col" class="fit-column">Type</th>
                                <th scope="col">Value</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr *ngFor="let predictedEnvVariable of definition?.predictedEnvVariables" class="form-control-static">
                                <td class="fit-column">
                                    <span class="env-variable-name">{{ predictedEnvVariable.name }}</span>
                                </td>
                                <td>
                                    <span *ngIf="predictedEnvVariable.value">Value</span>
                                    <span *ngIf="predictedEnvVariable.pattern">Pattern</span>
                                </td>
                                <td>
                                    <span *ngIf="predictedEnvVariable.value" class="env-variable-value">{{ predictedEnvVariable.value }}</span>
                                    <span *ngIf="predictedEnvVariable.pattern" class="env-variable-pattern">{{ predictedEnvVariable.pattern }}</span>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div role="tabpanel" class="tab-pane" id="predicted-feater-variables">
        <div class="row">
            <div class="col-md-12">
                <div *ngIf="definition?.predictedFeaterVariables?.length">
                    <div class="table-wrapper">
                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th scope="col" class="fit-column">Name</th>
                                <th scope="col" class="fit-column">Type</th>
                                <th scope="col">Value</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr *ngFor="let predictedFeaterVariable of definition?.predictedFeaterVariables" class="form-control-static">
                                <td class="fit-column">
                                    <span class="env-variable-name">{{ predictedFeaterVariable.name }}</span>
                                </td>
                                <td>
                                    <span *ngIf="predictedFeaterVariable.value">Value</span>
                                    <span *ngIf="predictedFeaterVariable.pattern">Pattern</span>
                                </td>
                                <td>
                                    <span *ngIf="predictedFeaterVariable.value" class="env-variable-value">{{ predictedFeaterVariable.value }}</span>
                                    <span *ngIf="predictedFeaterVariable.pattern" class="env-variable-pattern">{{ predictedFeaterVariable.pattern }}</span>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div role="tabpanel" class="tab-pane" id="instances">
        <div class="row">
            <div class="col-md-12">
                <div *ngIf="definition">
                    <app-instance-table [instances]="definition.instances" [withProjects]="false" [withDefinitions]="false"></app-instance-table>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12" style="text-align: right;">
                <a routerLink="/definition/{{ definition?.id }}/instance/add" class="btn btn-success">Add instance</a>
            </div>
        </div>
    </div>
</div>
