/* Bootstrap flatly overrides */

pre {
    font-family: monospace;
}

/* Layout */

body {
    height: 100%;
    width: 100%;
    margin: 0;
}

#page-wrapper {
    box-sizing: border-box;
    padding-left: 160px;
    width: 100%;
}

#sidebar-wrapper {
    display: flex;
    flex-flow: column;
    width: 160px;
    position: fixed;
    height: 100%;
    margin-left: -160px;
}

#content-wrapper {
    box-sizing: border-box;
    height: 100%;
}

/* Sidebar */

#sidebar-wrapper {
    background-color: #2c3e50;
}

.sidebar {
    color: #ffffff;
    padding-top: 14px;
}

.sidebar a {
    color: #ffffff;
}

.sidebar a:hover {
    color: #18bc9c;
    text-decoration: none;
    cursor: pointer;
}

.sidebar a:active,
.sidebar a:focus {
    text-decoration: none;
}

.sidebar .logo {
    font-family: Khand,Lato,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 48px;
    font-weight: 600;
    text-align: center;
}

.sidebar .main-menu {
    list-style: none;
    margin: 20px 0 0 0;
    padding: 0;
}

.sidebar .main-menu a {
    display: block;
    background-color: transparent;
    padding: 5px 12px 5px 12px;
    margin: 0;
}

.sidebar .main-menu a:hover {
    background-color: rgba(0, 0, 0, 0.2);
}

/* Content */

.content {
    padding: 10px;
}

.content .table-wrapper {
    border: 2px solid #ecf0f1;
    overflow-x: auto;
    margin-bottom: 20px;
}

.table {
    margin-bottom: 0;
}

.table a:not(.btn) {
    text-decoration: none;
}





.fit-column {
    white-space: nowrap;
    width: 1%;
}

.form-group pre.form-control-static {
    color: #2c3e50;
    background-color: #ffffff;
    font-size: 90%;
}

.form-section {
    margin-top: 32px;
}

.build-defintion-add-form .well {
    margin-bottom: 6px;
}

.feater-list-details {
    opacity: 0.5;
}

.feater-list-details:hover {
    cursor: pointer;
    opacity: 1;
}

.help-block {
    color: #2c3e50;
}

.logs {
    background: #2c3e50;
    color: #f0f0f0;
    font-family: monospace;
    width: 100%;
}

.logs .log-timestamp {
    opacity: 0.5;
    white-space: nowrap;
    vertical-align: baseline;
    padding: 2px 24px 2px 8px;
}

body {
    padding-bottom: 60px;
}

.page-header {
    margin: 0;
    padding: 0;
}

.tab-pane {
    padding-top: 20px;
}

.service-actions span.disabled {
    cursor: pointer;
}

.service-actions span.disabled {
    opacity: 0.3;
    cursor: default;
}

h2 {
    margin-bottom: 24px;
}

.go-to-related {
    cursor: pointer;
    margin-left: 0.1em;
    margin-right: 0.3em;
}

.form-well {
    position: relative;
    margin-top: 12px;
    padding-top: 16px;
}

.form-well-delete-btn {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 100;
    border-top-left-radius: 0;
    border-bottom-right-radius: 0;
}

.command-log {
    position: relative;
}

.command-log .panel-body {
    background-color: #f9fafa;
}

.command-log-description {
    margin-right: 10em;
    margin-left: 1.25em;
}

.command-log-description p {
    margin-bottom: 0;
}

.command-log-entries {
    font-family: monospace;
    font-size: 90%;
    background: none;
    border: 0;
    color: inherit;
    padding: 0;
}

.command-log-indicator {
    position: absolute;
    top: 10px;
    right: 10px;
}

.command-log-expand-toggle {
    position: absolute;
    top: 10px;
    left: 10px;
}

.nav-pills {
    margin-bottom: 30px;
}

.env-variable-name,
.env-variable-value,
.env-variable-pattern {
    font-family: monospace;
    font-size: 90%;
    background: none;
    border: 0;
    color: inherit;
    padding: 0;
}
