.feat-list-details {
    opacity: 0.5;
}

.feat-list-details:hover {
    cursor: pointer;
    opacity: 1;
}

.help-block {
    color: #2c3e50;
}

.logs {
    background: #2c3e50;
    color: #f0f0f0;
    font-family: monospace;
    font-size: 85%;
    line-height: 150%;
    padding: 1em;
}

.logs .log-timestamp {
    opacity: 0.5;
    margin-right: 1em;
}
