<div>
    <div *ngIf="!projects.length">
        <p>No projects to list.</p>
    </div>
    <div *ngIf="projects.length">
        <table class="table table-striped table-hover ">
            <thead>
                <tr>
                    <th>Name</th>
                    <th class="fit-column">Created</th>
                    <th class="fit-column">Updated</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let project of projects">
                    <td>
                        <a routerLink="/project/{{ project.id }}">
                            {{ project.name }}
                        </a>
                    </td>
                    <td class="fit-column">
                        <small>{{ project.createdAt | relativeDate }}</small>
                    </td>
                    <td class="fit-column">
                        <small>{{ project.updatedAt | relativeDate }}</small>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
