<div class="row">
    <div class="col-lg-12">
        <h2>Add definition for project <em>{{ project?.name}}</em></h2>
    </div>
</div>

<form class="form-horizontal build-defintion-add-form">

    <div class="row form-section">
        <div class="col-lg-12">
            <h3 style="display: inline;">Basic information</h3>
        </div>
        <div class="col-lg-12">
            <div class="well well-sm">
                <div class="form-group">
                    <label class="col-lg-2 control-label">Name</label>
                    <div class="col-lg-10">
                        <input type="text" class="form-control" name="addDefinition_name" [(ngModel)]="item.name">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row form-section">
        <div class="col-lg-12">
            <a class="btn btn-primary btn-sm" (click)="toggleMode()">
                {{ 'yaml' === mode ? 'Back to form': 'Import from Yaml' }}
            </a>
        </div>
    </div>

    <div [hidden]="'form' !== mode">

        <div class="row form-section">
            <div class="col-lg-12">
                <h3 style="display: inline;">Sources</h3>
                <a
                    class="btn btn-success btn-sm"
                    (click)="addSource()"
                    style="position: relative; bottom: 5px; margin-left: 8px;"
                >
                    Add item
                </a>
            </div>
            <div class="col-lg-12">
                <p *ngIf="0 === item.config.sources.length">
                    No sources defined.
                </p>
                <div *ngFor="let source of item.config.sources">
                    <app-definition-add-source-form-element
                        [item]="source"
                        (deleteItem)="deleteSource($event)"
                    ></app-definition-add-source-form-element>
                </div>
            </div>
        </div>

        <div class="row form-section">
            <div class="col-lg-12">
                <h3 style="display: inline;">Volumes</h3>
                <a
                    class="btn btn-success btn-sm"
                    (click)="addVolume()"
                    style="position: relative; bottom: 5px; margin-left: 8px;"
                >
                    Add item
                </a>
            </div>
            <div class="col-lg-12">
                <p *ngIf="0 === item.config.volumes.length">
                    No volumes defined.
                </p>
                <div *ngFor="let volume of item.config.volumes">
                    <app-definition-add-volume-form-element
                        [item]="volume"
                        (deleteItem)="deleteVolume($event)"
                    ></app-definition-add-volume-form-element>
                </div>
            </div>
        </div>

        <div class="row form-section">
            <div class="col-lg-12">
                <h3 style="display: inline;">Proxied ports</h3>
                <a
                    class="btn btn-success btn-sm"
                    (click)="addProxiedPort()"
                    style="position: relative; bottom: 5px; margin-left: 8px;"
                >
                    Add item
                </a>
            </div>
            <div class="col-lg-12">
                <p *ngIf="0 === item.config.proxiedPorts.length">
                    No proxied ports defined.
                </p>
                <div *ngFor="let proxiedPort of item.config.proxiedPorts">
                    <app-definition-add-proxied-port-form-element
                        [item]="proxiedPort"
                        (deleteItem)="deleteProxiedPort($event)"
                    ></app-definition-add-proxied-port-form-element>
                </div>
            </div>
        </div>

        <div class="row form-section">
            <div class="col-lg-12">
                <h3 style="display: inline;">Environmental variables</h3>
                <a
                    class="btn btn-success btn-sm"
                    (click)="addEnvVariable()"
                    style="position: relative; bottom: 5px; margin-left: 8px;"
                >
                    Add item
                </a>
            </div>
            <div class="col-lg-12">
                <p *ngIf="0 === item.config.envVariables.length">
                    No environmental variables defined.
                </p>
                <div *ngFor="let envVariable of item.config.envVariables">
                    <app-definition-add-environmental-variable-form-element
                        [item]="envVariable"
                        (deleteItem)="deleteEnvVariable($event)"
                    ></app-definition-add-environmental-variable-form-element>
                </div>
            </div>
        </div>

        <div class="row form-section">
            <div class="col-lg-12">
                <h3 style="display: inline;">Compose file</h3>
            </div>
            <div class="col-lg-12">
                <app-definition-add-compose-file-form-element
                    [item]="this.item.config.composeFile"
                    [sources]="this.item.config.sources"
                ></app-definition-add-compose-file-form-element>
            </div>
        </div>

        <div class="row form-section">
            <div class="col-lg-12">
                <h3 style="display: inline;">After build tasks</h3>
                <a
                    class="btn btn-success btn-sm"
                    (click)="addAfterBuildTaskExecuteHostCommand()"
                    style="position: relative; bottom: 5px; margin-left: 8px;"
                >
                    Add execute host command task
                </a>
                <a
                    class="btn btn-success btn-sm"
                    (click)="addAfterBuildTaskExecuteServiceCommand()"
                    style="position: relative; bottom: 5px; margin-left: 8px;"
                >
                    Add execute service command task
                </a>
                <a
                    class="btn btn-success btn-sm"
                    (click)="addAfterBuildTaskCopyAssetIntoContainer()"
                    style="position: relative; bottom: 5px; margin-left: 8px;"
                >
                    Add copy asset into container task
                </a>
            </div>

            <div class="col-lg-12">
                <p *ngIf="0 === item.config.afterBuildTasks.length">
                    No after build tasks defined.
                </p>
                <div *ngIf="0 < item.config.afterBuildTasks.length">
                    <div *ngFor="let afterBuildTask of item.config.afterBuildTasks">

                        <app-definition-add-after-build-task-execute-host-command-form-element
                                *ngIf="isAfterBuildTaskExecuteHostCommand(afterBuildTask)"
                                [item]="afterBuildTask"
                                [availableEnvVariableNames]="getAvailableEnvVariableNames()"
                                (deleteItem)="deleteAfterBuildTask($event)"
                        ></app-definition-add-after-build-task-execute-host-command-form-element>

                        <app-definition-add-after-build-task-execute-service-command-form-element
                                *ngIf="isAfterBuildTaskExecuteServiceCommand(afterBuildTask)"
                                [item]="afterBuildTask"
                                [availableEnvVariableNames]="getAvailableEnvVariableNames()"
                                (deleteItem)="deleteAfterBuildTask($event)"
                        ></app-definition-add-after-build-task-execute-service-command-form-element>

                        <app-definition-add-after-build-task-copy-asset-into-container-form-element
                                *ngIf="isAfterBuildTaskCopyAssetIntoContainer(afterBuildTask)"
                                [item]="afterBuildTask"
                                (deleteItem)="deleteAfterBuildTask($event)"
                        ></app-definition-add-after-build-task-copy-asset-into-container-form-element>

                    </div>
                </div>
            </div>
        </div>

        <div class="row form-section">
            <div class="col-lg-12">
                <h3 style="display: inline;">Summary items</h3>
                <a
                    class="btn btn-success btn-sm"
                    (click)="addSummaryItem()"
                    style="position: relative; bottom: 5px; margin-left: 8px;"
                >
                    Add item
                </a>
            </div>
            <div class="col-lg-12">
                <p *ngIf="0 === item.config.summaryItems.length">
                    No summary items defined.
                </p>
                <div *ngFor="let summaryItem of item.config.summaryItems">
                    <app-definition-add-summary-item-form-element
                        [item]="summaryItem"
                        (deleteItem)="deleteSummaryItem($event)"
                    ></app-definition-add-summary-item-form-element>
                </div>
            </div>
        </div>

    </div>

    <div [hidden]="'yaml' !== mode">

        <div class="row form-section">
            <div class="col-lg-12">
                <div class="well well-sm">
                    <div class="form-group">
                        <label class="col-lg-2 control-label">Yaml config</label>
                        <div class="col-lg-10">
                            <textarea class="form-control" rows="60" #yamlConfig name="addDefinition_yamlConfig" [ngModel]="item.config | yaml" style="font-family: monospace;"></textarea>
                            <div style="text-align: right; margin-top: 6px;">
                                <button type="submit" class="btn btn-success" (click)="importYamlConfig(yamlConfig.value)">Import</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div class="row form-section">
        <div class="col-lg-12" style="text-align: right;">
            <a routerLink="/definitions" class="btn btn-default">Cancel</a>
            <button type="submit" class="btn btn-success" (click)="addItem()">Submit</button>
        </div>
    </div>

</form>
