<!-- TODO Improve this. -->
<app-title
    *ngIf="action === 'add'"
    [context]="'Add definition for project'"
    [title]="project?.name"
></app-title>
<app-title
    *ngIf="action === 'duplicate'"
    [context]="'Duplicate definition'"
    [title]="sourceDefinition?.name"
></app-title>
<app-title
    *ngIf="action === 'edit'"
    [context]="'Edit definition'"
    [title]="sourceDefinition?.name"
></app-title>

<div class="content-body">
    <div class="container-fluid">

        <div class="form build-defintion-add-form">

            <div class="row form-section">
                <div class="col-md-12">
                    <h3>Basic information</h3>
                </div>
                <div class="form-group col-md-12">
                    <label for="addDefinition_name" class="control-label">Name</label>
                    <input type="text" class="form-control" id="addDefinition_name" name="addDefinition_name" [(ngModel)]="definition.name">
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <a class="btn btn-primary btn-sm" (click)="toggleMode()">
                        {{ isModeYamlImport() ? 'Back to form': 'Import from Yaml' }}
                    </a>
                </div>
            </div>

            <div [hidden]="!isModeForm()">

                <!-- Sources-->

                <div class="form-section">
                    <div class="row">
                        <div class="col-md-12">
                            <h3>Sources</h3>
                        </div>
                    </div>

                    <div *ngIf="!definition.config.sources.length" class="row">
                        <div class="col-md-12">
                            <p>No sources defined.</p>
                        </div>
                    </div>

                    <div *ngIf="definition.config.sources.length">
                        <div *ngFor="let source of definition.config.sources">
                            <app-definition-add-source-form-element [source]="source"
                                                                    (deleteSource)="deleteSource($event)"
                            ></app-definition-add-source-form-element>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <a class="btn btn-success btn-sm"
                               (click)="addSource()"
                            >
                                <span class="glyphicon glyphicon-plus"></span>
                            </a>
                        </div>
                    </div>
                </div>

                <!-- Volumes-->

                <div class="form-section">
                    <div class="row">
                        <div class="col-md-12">
                            <h3>Volumes</h3>
                        </div>
                    </div>

                    <div *ngIf="!definition.config.volumes.length" class="row">
                        <div class="col-md-12">
                            <p>No volumes defined.</p>
                        </div>
                    </div>

                    <div *ngIf="definition.config.volumes.length">
                        <div *ngFor="let volume of definition.config.volumes">
                            <app-definition-add-volume-form-element [volume]="volume"
                                                                    (deleteItem)="deleteVolume($event)"
                            ></app-definition-add-volume-form-element>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <a class="btn btn-success btn-sm"
                               (click)="addVolume()"
                            >
                                <span class="glyphicon glyphicon-plus"></span>
                            </a>
                        </div>
                    </div>
                </div>

                <!-- Proxied ports -->

                <div class="form-section">
                    <div class="row">
                        <div class="col-md-12">
                            <h3>Proxied ports</h3>
                        </div>
                    </div>

                    <div *ngIf="!definition.config.proxiedPorts.length" class="row">
                        <div class="col-md-12">
                            <p>No proxied ports defined.</p>
                        </div>
                    </div>

                    <div *ngIf="definition.config.proxiedPorts.length">
                        <div *ngFor="let proxiedPort of definition.config.proxiedPorts">
                            <app-definition-add-proxied-port-form-element [proxiedPort]="proxiedPort"
                                                                          (deleteProxiedPort)="deleteProxiedPort($event)"
                            ></app-definition-add-proxied-port-form-element>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <a class="btn btn-success btn-sm"
                               (click)="addProxiedPort()"
                            >
                                <span class="glyphicon glyphicon-plus"></span>
                            </a>
                        </div>
                    </div>
                </div>

                <!-- Environmental variables -->

                <div class="form-section">
                    <div class="row">
                        <div class="col-md-12">
                            <h3>Environmental variables</h3>
                        </div>
                    </div>

                    <div *ngIf="!definition.config.envVariables.length" class="row">
                        <div class="col-md-12">
                            <p>No environmental variables defined.</p>
                        </div>
                    </div>

                    <div *ngIf="definition.config.envVariables.length">
                        <div *ngFor="let envVariable of definition.config.envVariables">
                            <app-definition-add-environmental-variable-form-element [envVariable]="envVariable"
                                                                                    (deleteEnvVariable)="deleteEnvVariable($event)"
                            ></app-definition-add-environmental-variable-form-element>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <a class="btn btn-success btn-sm"
                               (click)="addEnvVariable()"
                            >
                                <span class="glyphicon glyphicon-plus"></span>
                            </a>
                        </div>
                    </div>
                </div>

                <!-- Compose files -->

                <div class="form-section">
                    <div class="row">
                        <div class="col-md-12">
                            <h3>Compose files</h3>
                        </div>
                    </div>

                    <app-definition-add-compose-file-form-element [composeFile]="this.definition.config.composeFile"
                                                                  [sources]="this.definition.config.sources"
                    ></app-definition-add-compose-file-form-element>
                </div>

                <!-- After build tasks -->

                <div class="form-section">
                    <div class="row">
                        <div class="col-md-12">
                            <h3 style="display: inline;">After build tasks</h3>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <p *ngIf="!definition.config.afterBuildTasks.length">
                                No after build tasks defined.
                            </p>
                            <div *ngIf="definition.config.afterBuildTasks.length">
                                <div *ngFor="let afterBuildTask of definition.config.afterBuildTasks">

                                    <app-execute-service-command-task-form-element
                                            *ngIf="isAfterBuildTaskExecuteServiceCommand(afterBuildTask)"
                                            [task]="afterBuildTask"
                                            [availableEnvVariableNames]="getAvailableEnvVariableNames()"
                                            (deleteTask)="deleteAfterBuildTask($event)"
                                    ></app-execute-service-command-task-form-element>

                                    <app-copy-asset-into-container-task-form-element
                                            *ngIf="isAfterBuildTaskCopyAssetIntoContainer(afterBuildTask)"
                                            [task]="afterBuildTask"
                                            (deleteTask)="deleteAfterBuildTask($event)"
                                    ></app-copy-asset-into-container-task-form-element>

                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <a
                                    class="btn btn-success btn-sm"
                                    (click)="addAfterBuildTaskExecuteServiceCommand()"
                                    style="margin-right: 8px;"
                            >
                                Execute service command  <span class="glyphicon glyphicon-plus"></span>
                            </a>
                            <a
                                    class="btn btn-success btn-sm"
                                    (click)="addAfterBuildTaskCopyAssetIntoContainer()"
                                    style="margin-right: 8px;"
                            >
                                Copy asset into container <span class="glyphicon glyphicon-plus"></span>
                            </a>
                        </div>
                    </div>
                </div>

                <!-- Summary items -->

                <div class="form-section">
                    <div class="row">
                        <div class="col-md-12">
                            <h3>Summary items</h3>
                        </div>
                    </div>

                    <div *ngIf="!definition.config.summaryItems.length" class="row">
                        <div class="col-md-12">
                            <p>No summary items defined.</p>
                        </div>
                    </div>

                    <div *ngIf="definition.config.summaryItems.length">
                        <div *ngFor="let summaryItem of definition.config.summaryItems">
                            <app-definition-add-summary-item-form-element [summaryItem]="summaryItem"
                                                                          (deleteSummaryItem)="deleteSummaryItem($event)"
                            ></app-definition-add-summary-item-form-element>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <a class="btn btn-success btn-sm"
                               (click)="addSummaryItem()"
                            >
                                <span class="glyphicon glyphicon-plus"></span>
                            </a>
                        </div>
                    </div>
                </div>

            </div>

            <!-- Import from Yaml -->

            <div [hidden]="!isModeYamlImport()">

                <div class="form-section">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="control-label">Yaml config</label>
                                <textarea class="form-control" rows="10" #yamlConfig name="addDefinition_yamlConfig" style="font-family: monospace;"></textarea>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <button type="submit" class="btn btn-success" (click)="importYamlConfig(yamlConfig.value)">Import</button>
                        </div>
                    </div>
                </div>

            </div>

            <!-- Buttons -->

            <div class="form-section">
                <div class="row">
                    <div class="col-md-12">
                        <button type="submit" class="btn btn-success" (click)="createDefinition()">Submit</button>
                    </div>
                </div>
            </div>

        </div>

    </div>
</div>