<div class="row">
    <div class="col-md-12">
        <div class="page-header">
            <h2 *ngIf="action === 'add'">
                <small>Add definition for project</small><br>{{ project?.name}}
            </h2>
            <h2 *ngIf="action === 'duplicate'">
                <small>Duplicate definition</small><br>{{ sourceDefinition?.name }}
            </h2>
            <h2 *ngIf="action === 'edit'">
                <small>Edit definition</small><br>{{ sourceDefinition?.name }}
            </h2>
        </div>
    </div>
</div>

<form class="build-defintion-add-form">

    <div class="row form-section">
        <div class="col-md-12">
            <h3>Basic information</h3>
        </div>
        <div class="form-group col-md-12">
            <label for="addDefinition_name" class="control-label">Name</label>
            <input type="text" class="form-control" id="addDefinition_name" name="addDefinition_name" [(ngModel)]="item.name">
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <a class="btn btn-primary btn-sm" (click)="toggleMode()">
                {{ 'yaml' === mode ? 'Back to form': 'Import from Yaml' }}
            </a>
        </div>
    </div>

    <div [hidden]="'form' !== mode">

        <!-- Sources-->

        <div class="form-section">
            <div class="row">
                <div class="col-md-12">
                    <h3>Sources</h3>
                </div>
            </div>

            <div *ngIf="!item.config.sources.length" class="row">
                <div class="col-md-12">
                    <p>No sources defined.</p>
                </div>
            </div>

            <div *ngIf="item.config.sources.length">
                <div *ngFor="let source of item.config.sources">
                    <app-definition-add-source-form-element [item]="source"
                                                            (deleteItem)="deleteSource($event)"
                    ></app-definition-add-source-form-element>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <a class="btn btn-success btn-sm"
                       (click)="addSource()"
                    >
                        <span class="glyphicon glyphicon-plus"></span>
                    </a>
                </div>
            </div>
        </div>

        <!-- Volumes-->

        <div class="form-section">
            <div class="row">
                <div class="col-md-12">
                    <h3>Volumes</h3>
                </div>
            </div>

            <div *ngIf="!item.config.volumes.length" class="row">
                <div class="col-md-12">
                    <p>No volumes defined.</p>
                </div>
            </div>

            <div *ngIf="item.config.volumes.length">
                <div *ngFor="let volume of item.config.volumes">
                    <app-definition-add-volume-form-element [volume]="volume"
                                                            (deleteItem)="deleteVolume($event)"
                    ></app-definition-add-volume-form-element>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <a class="btn btn-success btn-sm"
                       (click)="addVolume()"
                    >
                        <span class="glyphicon glyphicon-plus"></span>
                    </a>
                </div>
            </div>
        </div>

        <!-- Proxied ports -->

        <div class="form-section">
            <div class="row">
                <div class="col-md-12">
                    <h3>Proxied ports</h3>
                </div>
            </div>

            <div *ngIf="!item.config.proxiedPorts.length" class="row">
                <div class="col-md-12">
                    <p>No proxied ports defined.</p>
                </div>
            </div>

            <div *ngIf="item.config.proxiedPorts.length">
                <div *ngFor="let proxiedPort of item.config.proxiedPorts">
                    <app-definition-add-proxied-port-form-element [item]="proxiedPort"
                                                                  (deleteItem)="deleteProxiedPort($event)"
                    ></app-definition-add-proxied-port-form-element>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <a class="btn btn-success btn-sm"
                       (click)="addProxiedPort()"
                    >
                        <span class="glyphicon glyphicon-plus"></span>
                    </a>
                </div>
            </div>
        </div>

        <!-- Environmental variables -->

        <div class="form-section">
            <div class="row">
                <div class="col-md-12">
                    <h3>Environmental variables</h3>
                </div>
            </div>

            <div *ngIf="!item.config.envVariables.length" class="row">
                <div class="col-md-12">
                    <p>No environmental variables defined.</p>
                </div>
            </div>

            <div *ngIf="item.config.envVariables.length">
                <div *ngFor="let envVariable of item.config.envVariables">
                    <app-definition-add-environmental-variable-form-element [item]="envVariable"
                                                                            (deleteItem)="deleteEnvVariable($event)"
                    ></app-definition-add-environmental-variable-form-element>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <a class="btn btn-success btn-sm"
                       (click)="addEnvVariable()"
                    >
                        <span class="glyphicon glyphicon-plus"></span>
                    </a>
                </div>
            </div>
        </div>

        <!-- Compose files -->

        <div class="form-section">
            <div class="row">
                <div class="col-md-12">
                    <h3>Compose files</h3>
                </div>
            </div>

            <app-definition-add-compose-file-form-element [item]="this.item.config.composeFile"
                                                          [sources]="this.item.config.sources"
            ></app-definition-add-compose-file-form-element>
        </div>

        <!-- After build tasks -->

        <div class="form-section">
            <div class="row">
                <div class="col-md-12">
                    <h3 style="display: inline;">After build tasks</h3>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <p *ngIf="!item.config.afterBuildTasks.length">
                        No after build tasks defined.
                    </p>
                    <div *ngIf="item.config.afterBuildTasks.length">
                        <div *ngFor="let afterBuildTask of item.config.afterBuildTasks">

                            <app-execute-service-command-task-form-element
                                    *ngIf="isAfterBuildTaskExecuteServiceCommand(afterBuildTask)"
                                    [item]="afterBuildTask"
                                    [availableEnvVariableNames]="getAvailableEnvVariableNames()"
                                    (deleteItem)="deleteAfterBuildTask($event)"
                            ></app-execute-service-command-task-form-element>

                            <app-copy-asset-into-container-task-form-element
                                    *ngIf="isAfterBuildTaskCopyAssetIntoContainer(afterBuildTask)"
                                    [item]="afterBuildTask"
                                    (deleteItem)="deleteAfterBuildTask($event)"
                            ></app-copy-asset-into-container-task-form-element>

                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <a
                            class="btn btn-success btn-sm"
                            (click)="addAfterBuildTaskExecuteServiceCommand()"
                            style="margin-right: 8px;"
                    >
                        Execute service command  <span class="glyphicon glyphicon-plus"></span>
                    </a>
                    <a
                            class="btn btn-success btn-sm"
                            (click)="addAfterBuildTaskCopyAssetIntoContainer()"
                            style="margin-right: 8px;"
                    >
                        Copy asset into container <span class="glyphicon glyphicon-plus"></span>
                    </a>
                </div>
            </div>
        </div>

        <!-- Summary items -->

        <div class="form-section">
            <div class="row">
                <div class="col-md-12">
                    <h3>Summary items</h3>
                </div>
            </div>

            <div *ngIf="!item.config.summaryItems.length" class="row">
                <div class="col-md-12">
                    <p>No summary items defined.</p>
                </div>
            </div>

            <div *ngIf="item.config.summaryItems.length">
                <div *ngFor="let summaryItem of item.config.summaryItems">
                    <app-definition-add-summary-item-form-element [item]="summaryItem"
                                                                  (deleteItem)="deleteSummaryItem($event)"
                    ></app-definition-add-summary-item-form-element>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <a class="btn btn-success btn-sm"
                       (click)="addSummaryItem()"
                    >
                        <span class="glyphicon glyphicon-plus"></span>
                    </a>
                </div>
            </div>
        </div>

    </div>

    <!-- Import from Yaml -->

    <div [hidden]="'yaml' !== mode">

        <div class="form-section">
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label class="control-label">Yaml config</label>
                        <textarea class="form-control" rows="10" #yamlConfig name="addDefinition_yamlConfig" style="font-family: monospace;"></textarea>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <button type="submit" class="btn btn-success" (click)="importYamlConfig(yamlConfig.value)">Import</button>
                </div>
            </div>
        </div>

    </div>

    <!-- Buttons -->

    <div class="form-section">
        <div class="row">
            <div class="col-md-12">
                <button type="submit" class="btn btn-success" (click)="submit()">Submit</button>
            </div>
        </div>
    </div>

</form>
